<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>About this Project</title>
  <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed|EB+Garamond" rel="stylesheet">
</head>
<style> 
p::first-letter{
	font-size:4em;
	float:left;
	line-height:80%;
}

</style>
<body>
<span style="font-family:Barlow Condensed; font-size:20px; margin-left: 100px; margin-top: 50px"><b>ABOUT THIS PROJECT: A series of living-portraits</b></span>

<p style="font-family:EB Garamond, serif; font-size: 25px; margin-left: 300px; color: grey">The Moth connects us, as <br> humans. Because we all <br> have stories. Or perhaps, because <br> we are, as humans, already an <br> assemblage of stories. <em> And the gulf <br> that exists between us as people is that <br> when we look at each other we might <br> see faces, skin color, gender, race, or <br> attitudes, but we don't see, we can't see, <br> the stories. </em> And once we hear each <br> other's stories we realize that the <br> things we see as dividing us are, <br> all too often, illusions. <br><br> <span style="font-family:Barlow Condensed; color: black"><b>Neil Gaiman </b></span></p>

</body>
</html>