<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Yianni's Individual Page Template</title>
    <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div style="text-align:center"><span class="glyphicon glyphicon-chevron-up"></span></div>
    <div class="container">
        <div class="col col-sm-7" style="text-align:center; font-family:Barlow Condensed; font-size: 25px; float: none; margin: 0 auto">Don't take things too personally. There is always something to spend your energy on other than negative remarks that don't help you grow into the person you're meant to be.
        </div>
    </div>
    <div style="text-align:center"><span class="glyphicon glyphicon-chevron-down"></span></div>
    <div class="container">
        <div class="col col-sm-7" style="float: none; margin: 0 auto">
   
    <p>Wikmemkong Unceded Territory is the sort of quiet native community one would expect on an island. As the only place in Canada that is not controlled by whites, Manitoulin Island is pristine in history, place and spirit. It is here that Austin Pangowish spent all his life, with the exception of one trip to Chicago for a concert. He has never travelled outside of the island. Young, and yet with a zeal to share his thoughts and culture, he has a lot of hope for his culture and people. He plans to finish high school and study plant biology. He says he needs to preserve his culture. 
    </p>
        </div>
    </div>  
</body>
</html>