<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Yianni's Individual Page Template</title>
    <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div id="image"> 
        <img src="image1.jpg" style="height: 550px; width: 400px; margin-left: 200px"> 
        <img src="handwriting_square.jpg" style="width: 400px; height:350px; margin-right: 100px; margin-top: 110px; float: right">
        <br>
        <p id="picture" style="float: right; margin-right: 400px">   Age 8
            <br>
            Unionville, Ontario
        </p>
        <br>
    <div style="text-align:center"><span class="glyphicon glyphicon-chevron-up"></span></div>
    <div class="container">
        <div class="col col-sm-7" style="text-align:center; font-family:Barlow Condensed; font-size: 25px; float: none; margin: 0 auto">Remember to keep trying and never give up. Because if you give up, there is less chance you win, or get that. If you keep trying you will have the most chance you will win or get what you want.
        </div>
    </div>
    <div style="text-align:center"><span class="glyphicon glyphicon-chevron-down"></span></div>
    <div class="container">
        <div class="col col-sm-7" style="float: none; margin: 0 auto">
            <p>
                <b>What is your favorite word? </b>Party.
                <br>
                <b>What is your least favorite word? </b>Swear words.
                <br>
                <b>What sound do you love? </b>Birds tweeting.
                <br>
                <b>What sound do you hate? </b>Squeaky noise when you rub on a book.
                <br>
                <b>What would you like to be when you grow up? </b>Engineer or teacher.
                <br>
                <b>If you were a plant, or animal, what would you be? </b>Human animal.
                <br>
                <b>What is your favorite virtue? </b>I care about and I never let them down. Especially my friends.
                <br>
                <b>Where would you like to live? </b>Same place where I am living right now.
                <br>
                <b>If you had one super power, what would it be? </b>Speaking to animals.
                <br>
                <b>If you were a boat, what would you name it? </b>Zack. Or Sally. 
                <br>
                <b>What's your favorite subject in school? </b>PysEd.
                <br>
                <b>Kittens or puppies? </b>Puppies. 
                <br>
                <b>What's your favorite food? </b>Fruites and veggies. 
                <br>
                <b>What's your least favorite food? </b>Dry dry dry dry chicken. 
                <br>
                <b>What would you bring on a one way trip to Mars? </b>(Food, air, space suit, electronics, dome/technology, solar system, water, nutrients, flowers, grass, trees.
                <br>  
            </p>
        </div>
    </div>
</body>

</html>